body{
    background-color: #00806A;
}

#top{
    display: flex;
    flex-direction: column;
    align-items: center ;
}

#selector{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}